@font-face {
    font-family: Abel;
    src: url('../Fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: Anton;
    src: url('../Fonts/Anton-Regular.ttf');
}

@font-face {
    font-family: Josefin;
    src: url('../Fonts/Josefin-Regular.ttf');
}

@font-face {
    font-family: Lexend;
    src: url('../Fonts/LexendDeca-Regular.ttf');
}

@font-face {
    font-family: Livvic;
    src: url('../Fonts/Livvic-Regular.ttf');
}
